body{
    background-image: url("img/oro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
}
#principal{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px 10px;
    margin:auto;
    margin-top:15%;
    height: 300px;
    width: 700px;
}
h1{
    background-color: gray;
    border-radius: 5px 10px 0px 0px;
    color: white;
    text-align: center;
    margin: 0;
}
#formulario{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}
label{
    text-align: left;
    color: white;
}
button{
    width: 100%;}
input{
    margin-bottom: 3%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px 5px;
}
#messi{
    margin-left: 40%;
}
#ronaldo{
    margin-left: 17.5%;
}
#griezman{
    margin-left: 30.55%;
}
button{
    border-radius: 5px 5px;
}
